<%= form_with(model: carrinho, local: true) do |form| %>
  <% if carrinho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrinho.errors.count, "error") %> prohibited this carrinho from being saved:</h2>

      <ul>
      <% carrinho.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
