<p id="notice"><%= notice%></p>

<div class="caixa">
    <h1>Fale Conosco</h1>
</div>

<h2>Nossos Contatos</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Email</td>
            <td>Whatsapp</td>
            <td>Facebook</td>
            <td>Instagram</td>
            <td>Linkedin</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>admin@admin.com</td>
            <td>(11)99999-9999</td>
            <td>facebook.com/bbq_delivery</td>
            <td>@bbq_delivery</td>
            <td>@bbq_delivery</td>
        </tr>
    </tbody>
</table>